body {
  background-color: #e0ebf3;
  color: #2c2c2e;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  padding-left: 10px;
}
h1 {
  font-size: 46px;
  font-weight: 500;
}
h3 {
  font-size: 18px;
  font-style: italic;
}

strong {
  font-weight: 500;
}
a {
  text-decoration: none;
}
.container {
  margin: 100px auto;
  max-width: 484px;
  height: 520px;
  box-shadow: 2px 2px 2px 1px rgba(215, 220, 224, 0.4);
  background-color: #f4f6f7;
  border-radius: 30px;
}
.day1image {
  height: 140px;
  filter: drop-shadow(0 0 0.15rem rgb(144, 161, 199, 0.3));
}
.row {
  padding: 20px 4% 8px;
}

.col-12 {
  text-align: right;
  padding-right: 30px;
}
.degreetoggle {
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(215, 220, 224, 0.4);
}
.degreetoggle:hover {
  cursor: pointer;
}
.degreetoggle::before {
  position: relative;
  content: " C° ";
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  background-color: #feb70f;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transition: 0.6s ease all;
  box-shadow: 1px 1px 1px 1px rgba(215, 220, 224, 0.3);
  left: 0px;
}
.degreetoggle:checked::before {
  content: " F° ";
  text-align: center;
  color: #f8f5f5;
  font-size: 20px;
  font-weight: 200;
  background-color: rgba(96, 154, 221, 0.737);
  left: 38px;
}

.search-form {
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.text-input {
  border-radius: 20px;
  border-width: 1px;
  border-color: #e5dcde;
  font-style: italic;
  color: #2c2c2e;
  box-shadow: 2px 2px 2px 1px rgba(215, 220, 224, 0.4);
  width: 300px;
  height: 30px;
  padding-left: 15px;
  border-style: none;
}
.text-input:focus {
  outline-color: rgba(96, 154, 221, 0.737);
}
.text-input::placeholder {
  opacity: 0.6;
}

.submit-button {
  width: 60px;
  height: 30px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(96, 154, 221, 0.737);
  border-radius: 20px;
  border-style: none;
  position: relative;
  border-width: 1px;
  box-shadow: 2px 2px 2px 1px rgba(215, 220, 224, 0.4);
}

.day2image,
.day3image,
.day4image,
.day5image {
  height: 80px;
  padding: 5px 5px;
  filter: drop-shadow(0 0 0.15rem rgb(144, 161, 199, 0.3));
}
